<ng-container *ngIf="products$ | async as products">
  <p-dataView
    #dv
    [value]="products.data"
    [layout]="'grid'"
    [totalRecords]="products.results"
  >
    <ng-template pTemplate="header">
      @if (selectedProducts().length) {
      <h3>Favorites:</h3>
      <div
        class="flex align-items-center gap-2 justify-content-start flex-wrap"
      >
        <div *ngFor="let product of selectedProducts()">
          <p-tag [value]="product.title" [severity]="'success'"></p-tag>
        </div>
      </div>
      }
    </ng-template>

    <ng-template let-product pTemplate="grid" let-products>
      <div class="grid grid-nogutter">
        <div
          class="sm:col-6 md:col-4 xl:col-3 p-2"
          *ngFor="let product of products"
        >
          <app-product-card
            [product]="product"
            [isFavorite]="isFavorite(product._id)"
            (favoriteToggled)="onFavoriteToggled($event)"
          ></app-product-card>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</ng-container>
